<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="DealerServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" httpGetUrl="http://127.0.0.1:3721/DealerService/metadata" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="WCFTest.Core.DealerService" behaviorConfiguration="DealerServiceBehavior">
                <endpoint address="http://127.0.0.1:3721/DealerService" binding="wsHttpBinding" contract="WCFTest.Contract.Interface.IDealers"></endpoint>
            </service>
        </services>
    </system.serviceModel>
</configuration>