<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_DeslersService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://127.0.0.1:3721/DealerService" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_DeslersService" contract="DealerService.DeslersService"
        name="WSHttpBinding_DeslersService">
        <identity>
          <userPrincipalName value="fengzb@tech.bitauto.com" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>