<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <appSettings>
        <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.5" />
        <httpRuntime targetFramework="4.5"/>
    </system.web>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="DealerServiceBehavior">
                    <serviceMetadata httpGetEnabled="true"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="WCFTest.Core.DealerService" behaviorConfiguration="DealerServiceBehavior">
                <endpoint address="http://localhost:7828/DealerService.svc" binding="wsHttpBinding" contract="WCFTest.Contract.Interface.IDealers">
                </endpoint>
            </service>
        </services>
        <!--<client>
            <endpoint address="http://localhost:7828/DealerService.svc" binding="wsHttpBinding" contract="WCFTest.Contract.Interface.IDealers"
                name="WSHttpBinding_DeslersService">
            </endpoint>
        </client>-->
    </system.serviceModel>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true"/>
        <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
        <directoryBrowse enabled="true"/>
    </system.webServer>

</configuration>
